
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #FFFFFF ;
    --second-bg-color: #146C94;
    --text-color:#19A7CE;
    --main-color: #000000;

    --first-color: #D81E5C;
    --second-color: #2C3D55;
    --third-color: #7E4F9A;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    
}

body {
    background-color: var(--bg-color);
    color: #000000;
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/** HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--third-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 7;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-color);
    cursor: default;
}

.navBar a {
    font-size: 1.5rem;
    color: var(--bg-color);
    margin-left: 4rem;
    transition: 1s ease;
    cursor: pointer;

}

.navBar a:hover, .navBar a.active {
    color: var(--second-bg-color);
}
svg#menuIcon {
    font-size: 3.6rem;
    color: var(--bg-color);
    display: none;
}

/* HOME */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image:url("../img/scott-graham-.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center; */
}

.homeContent h3 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.homeContent p {
    font-size: 1.6rem;
}
.socialMedia a img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .3rem solid var(--main-color);
    background: transparent;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--second-bg-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;

}
.socialMedia a img:hover {
    background-color: var(--text-color);
    color: var(--main-color);
    box-shadow: 0 0 1rem;
}
.homeImg img {
    width: 24vw;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--third-color);
    font-size: 1.6rem;
    border-radius: 4rem;
    color: var(--main-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.5s ease;
    box-shadow: 0 0 1rem var(--third-color);
}
.btn:hover {
    background-color: var(--second-bg-color);
    box-shadow: 0 0 1rem;
}

/* Services */
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.services  h2 {
    margin-bottom: 5rem;

}
.serviceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.serviceContainer .serviceCard {
    flex: 1 1 30rem;
    background-color: var(--third-color);
    padding: 3rem 2rem 4rem;

    text-align: center;
    border: .2rem var(--first-color);
    border-radius: 2rem;
    transition: .5s ease;
}
.serviceContainer .serviceCard:hover {
    border: .1rem solid var(--second-bg-color);
    transform: scale(1.02);
}

.serviceCard img {
    font-size: 7rem;
}
.serviceCard h3 {
    font-size: 2.6rem;
}
.serviceCard p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


/*EQUIPE*/
section.equipe h2{
    margin-bottom: 5rem;
}

.memberContainer .memberCardTrack{
    /* display: flex;
    flex-wrap: nowrap; */
    padding: 2rem;
    gap: 2rem;
}
div.memberCard {
    width: 200px;
    background-color: var(--third-color);
    border-radius: 2rem;
    display: grid;
    grid-template-rows: 3fr 1fr;
    transition: 0.55s ease-in;
    border:2px solid #146C94;
}
.memberCard:hover {
    opacity: 0.5;
    transform: scale(1.06);
}
.memberCard img {

 width :200px ;
    height : 200px; 
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    margin-bottom: 1rem;
}

.memberCardContainer {
    text-align: left;
    padding-left: 1.2rem;
    
}
.memberCardContainer h4 {
    font-size: 1.8rem;
    
}
.memberCardContainer div {
    font-size: 1.3rem;
}


/* Header carrousel*/
@-webkit-keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-200px * 4));
    transform: translateX(calc(-200px * 4));
    }
    }
    @keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-200px * 4));
    transform: translateX(calc(-200px * 4));
    }
}
.memberContainer {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 900px;
    }
    .memberContainer::before, .memberContainer::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 110%;
    position: absolute;
    width: 50px;
    z-index: 2;
    }
    .memberContainer::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    }
    .memberContainer::before {
    left: 0;
    top: 0;
    }
    .memberContainer .memberCardTrack {
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(200px * 7);
    }


/* Contact**/
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .inputBox input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--main-color);
    background: var(--third-color);
    border-radius: .8rem;
    margin: 0.7rem 0;
}
.contact form .inputBox input {
    width: 49%;
}
.contact form textarea {
    resize: none;
}
.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/*Footer**/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background-color: var(--second-color);
}

.footerText {
    font-size: 1.8rem;
}
.footerIconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    border-radius: .8rem;
    transition: ease;
} 
.footerIconTop a:hover {
    box-shadow: 0 0 1rem var(--text-color);
}


/* MEDIA QUERRIES*/

/* Break points*/

@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}
@media (max-width: 991px){
    .header {
        padding: 2rem 3%
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer  {
        padding: 2rem 3%;
    }
}

