
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: rgb(200, 255, 255);
    --second-bg-color: #146C94;
    --text-color:#19A7CE;
    --main-color: #000000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: #000000;
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/** HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--text-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-color);
    cursor: default;
}

.navBar a {
    font-size: 1.8rem;
    color: var(--bg-color);
    margin-left: 4rem;
    transition: 1s ease;
    cursor: pointer;

}

.navBar a:hover, .navBar a.active {
    color: var(--second-bg-color);
}
svg#menuIcon {
    font-size: 3.6rem;
    color: var(--bg-color);
    display: none;
}

/* HOME */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image:url("../img/scott-graham-.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center; */
}

.homeContent h3 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.homeContent p {
    font-size: 1.6rem;
}
.socialMedia a img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .3rem solid var(--main-color);
    background: transparent;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--second-bg-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;

}
.socialMedia a img:hover {
    background-color: var(--text-color);
    color: var(--main-color);
    box-shadow: 0 0 1rem;
}
.homeImg img {
    width: 24vw;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--text-color);
    font-size: 1.6rem;
    border-radius: 4rem;
    color: var(--main-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.5s ease;
}
.btn:hover {
    background-color: var(--second-bg-color);
    box-shadow: 0 0 1rem;
}